<link rel="stylesheet" type="text/css" src="{{ site.baseurl }}/lightbox.css">
<link rel="stylesheet" type="text/css" src="{{ site.baseurl }}/photohub.css">
<script src="{{ site.baseurl }}/js/lightbox.js"></script>

<div id="photohub">
  <div class="column">

  </div>
  <div class="column">

  </div>
  <div class="column">

  </div>
  <div class="column">

  </div>
</div>

<script>

  $(document).ready(function() {

    // sorting shit out

    var current_column = 1;
    while($("#photohub-collection").children().length != 0) {
      if(curent_column > 4) {
        current_column = 1;
      }
      $("#photohub-collection:first").appendTo("#photohub:nth-child(" + current_column + ")");
      current_column += 1;
    }
  });

</script>
